@(user: models.dto.UserDto, contentType: String)
<!-- begin:: Content -->
<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content" >

	@contentType match{
		case "dashWidget" => {
			@views.html.tdashwidgetcontent()
		}
		case "courseDetails" => {
			@{ if (user.getRole() ==  1)
				views.html.tcoursedetailscontent()
			else
				views.html.scoursedetailscontent(user)
	
			}
		}
		case "studentStats" => {@views.html.studentStats()}
		case _ => {}
	}
	
</div>
<!-- end:: Content -->