<div class="row">
	<div class="col-lg-12">
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h5 class="kt-portlet__head-title">
						Quiz
					</h5>
				</div>
			</div>
			<div class="kt-portlet__body kt-portlet__body--fit">
				<!--begin: Datatable -->
				<div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--scroll kt-datatable--loaded" id="kt_datatable_latest_orders">
					<table class="kt-datatable__table" style="display: block; width: 90%; margin: auto;">
						<thead class="kt-datatable__head">
							<tr class="kt-datatable__row" style="left: 0px;">
								<th data-field="Object" data-autohide-disabled="false" class="kt-datatable__cell" style="width:50%;">
									<span>Object</span>
								</th>
								<th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort" style="text-align: center; width: 25%;">
									<span>Status</span>
								</th>
								<th data-field="Action" data-autohide-disabled="false" class="kt-datatable__cell" style="width:25%; text-align: center;">
									<span>Action</span>
								</th>
							</tr>
						</thead>
						<tbody class="kt-datatable__body ps">
							<tr data-row="0" class="kt-datatable__row" style="left: 0px">
								<td data-field="Object" data-autohide-disabled="false" class="kt-datatable__cell" style="width:50%;">
									<span>
											
											<div class="kt-user-card-v2__details">
												Test your knowledges about function of two variables.
											</div>					
									</span>
								</td>
								<td data-field="Status" class="kt-datatable__cell" style="width:25%; text-align: center;">
									<span>
										<span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Available</span>
									</span>
								</td>
								<td data-field="Action" class="kt-datatable__cell" style="width:25%; text-align: center">
									<span>
										<a class="kt-user-card-v2__name" href="javascript.void(0)" data-toggle="modal" data-target="#kt_modal_1_5">
											<img alt="photo" src="assets/images/files/qr-code.svg" width="35px" height="35px">
										</a>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--end: Datatable -->
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="kt-portlet kt-portlet--height-fluid">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h5 class="kt-portlet__head-title">
						Contents
					</h5>
				</div>
			</div>
			<div class="kt-portlet__body kt-portlet__body--fit">
				<!--begin: Datatable -->
				<div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--scroll kt-datatable--loaded" id="kt_datatable_latest_orders">
					<table class="kt-datatable__table" style="display: block; width: 90%; margin: auto; text-align: center;">
						<thead class="kt-datatable__head">
							<tr class="kt-datatable__row" style="left: 0px;">
								<th data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell" style="width:10%;">
									<span>Status</span>
								</th>
								<th data-field="Name" class="kt-datatable__cell kt-datatable__cell--sort" style="width: 30%;">
									<span>Name</span>
								</th>
								<th data-field="Function" class="kt-datatable__cell kt-datatable__cell--sort" style="width: 15%;">
									<span>Function</span>
								</th>
								<th data-field="Goal" data-autohide-disabled="false" class="kt-datatable__cell" style="width:25%;">
									<span>Goal</span>
								</th>
								<th data-field="Action" data-autohide-disabled="false" class="kt-datatable__cell" style="width:20%;">
									<span>Action</span>
								</th>
							</tr>
						</thead>
						<tbody class="kt-datatable__body ps">
							<tr data-row="0" class="kt-datatable__row" style="left: 0px">
								<td data-field="Status" class="kt-datatable__cell" style="width:10%;">
									<span>
										<span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Done</span>
									</span>
								</td>
								<td data-field="Name" data-autohide-disabled="false" class="kt-datatable__cell" style="width:30%;">
									<span>
										<div class="kt-user-card-v2__details">
											Elliptic Paraboloid
										</div>					
									</span>
								</td>
								<td data-field="Function" class="kt-datatable__cell" style="width:15%">
							 		<p>\[z = {{x^2 \over a^2} + {y^2 \over b^2}}\]</p>
								</td>
								<td data-field="Goal" class="kt-datatable__cell" style="width:25%;">
									<span>
										Learn about <i>min</i>, <i>max</i> and <i>level curves</i> concepts.								
									</span>
								</td>
								<td data-field="Action" class="kt-datatable__cell" style="width:20%;">
									<span>
										<a class="kt-user-card-v2__name" href="javascript.void(0)" data-toggle="modal" data-target="#kt_modal_1_1">
											<img alt="photo" src="assets/images/files/qr-code.svg" width="35px" height="35px">
										</a>
									</span>
								</td>
							</tr>
							<tr data-row="1" class="kt-datatable__row" style="left: 0px">
								<td data-field="Status" class="kt-datatable__cell" style="width:10%;">
									<span>
										<span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Done</span>
									</span>
								</td>
								<td data-field="Name" data-autohide-disabled="false" class="kt-datatable__cell" style="width:30%;">
									<span>
										<div class="kt-user-card-v2__details">
											Hyperbolic Paraboloid
										</div>					
									</span>
								</td>
								<td data-field="Function" class="kt-datatable__cell" style="width:15%">
							 		<p>\[z = {{x^2 \over a^2} - {y^2 \over b^2}}\]</p>
								</td>
								<td data-field="Goal" class="kt-datatable__cell" style="width:25%;">
									<span>
										Learn how is made a <i>seal point</i>.								
									</span>
								</td>
								<td data-field="Action" class="kt-datatable__cell" style="width:20%;">
									<span>
										<a class="kt-user-card-v2__name" href="javascript.void(0)" data-toggle="modal" data-target="#kt_modal_1_2">
											<img alt="photo" src="assets/images/files/qr-code.svg" width="35px" height="35px">
										</a>
									</span>
								</td>
							</tr>
							<tr data-row="2" class="kt-datatable__row" style="left: 0px">
								<td data-field="Status" class="kt-datatable__cell" style="width:10%;">
									<span>
										<span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Done</span>
									</span>
								</td>
								<td data-field="Name" data-autohide-disabled="false" class="kt-datatable__cell" style="width:30%;">
									<span>
										<div class="kt-user-card-v2__details">
											Ellipsoid
										</div>					
									</span>
								</td>
								<td data-field="Function" class="kt-datatable__cell" style="width:15%">
							 		<p>\[{{x^2 \over a^2} + {y^2 \over b^2} + {z^2 \over c^2}} = 1\]</p>
								</td>
								<td data-field="Goal" class="kt-datatable__cell" style="width:25%;">
									<span>
										Learn about <i>ellipsoid</i> and relationship between semi-axes.								
									</span>
								</td>
								<td data-field="Action" class="kt-datatable__cell" style="width:20%;">
									<span>
										<a class="kt-user-card-v2__name" href="javascript.void(0)" data-toggle="modal" data-target="#kt_modal_1_3">
											<img alt="photo" src="assets/images/files/qr-code.svg" width="35px" height="35px">
										</a>
									</span>
								</td>
							</tr>
							<tr data-row="2" class="kt-datatable__row" style="left: 0px">
								<td data-field="Status" class="kt-datatable__cell" style="width:10%;">
									<span>
										<span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Done</span>
									</span>
								</td>
								<td data-field="Name" data-autohide-disabled="false" class="kt-datatable__cell" style="width:30%;">
									<span>
										<div class="kt-user-card-v2__details">
											Product of Function
										</div>					
									</span>
								</td>
								<td data-field="Function" class="kt-datatable__cell" style="width:15%">
							 		<p>\[{z = {{1 \over y} log(x)}}\]</p>
								</td>
								<td data-field="Goal" class="kt-datatable__cell" style="width:25%;">
									<span>
										Learn about the product of function properties. 								
									</span>
								</td>
								<td data-field="Action" class="kt-datatable__cell" style="width:20%;">
									<span>
										<a class="kt-user-card-v2__name" href="javascript.void(0)" data-toggle="modal" data-target="#kt_modal_1_4">
											<img alt="photo" src="assets/images/files/qr-code.svg" width="35px" height="35px">
										</a>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--end: Datatable -->
			</div>
		</div>
	</div>
</div>


<div class="modal fade show" id="kt_modal_1_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: hidden; padding-right: 16px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Elliptic Paraboloid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
				<img alt="qr-code" src="assets/images/qr/mathematical_analysisII/two_var_functions/elliptic_paraboloid.jpg">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="kt_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: hidden; padding-right: 16px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hyperbolic Paraboloid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
				<img alt="qr-code" src="assets/images/qr/mathematical_analysisII/two_var_functions/hyperbolic_paraboloid.jpg">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="kt_modal_1_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: hidden; padding-right: 16px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ellipsoid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
				<img alt="qr-code" src="assets/images/qr/mathematical_analysisII/two_var_functions/ellipsoid.jpg">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="kt_modal_1_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: hidden; padding-right: 16px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product of Function</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
				<img alt="qr-code" src="assets/images/qr/mathematical_analysisII/two_var_functions/product_of_function.jpg">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="kt_modal_1_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: hidden; padding-right: 16px;" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quiz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
				<img alt="qr-code" src="assets/images/qr/mathematical_analysisII/two_var_functions/quiz.jpg">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

