<div class="row">
	<div class="col-xl-12">
		<div class="kt-portlet">
			<div class="kt-portlet__body">
				<!--begin::Section-->
				<div class="kt-section">
					<div class="kt-section__content">
						<table class="table">
						  	<thead class="thead-dark">
						    	<tr>
						      		<th>#</th>
						      		<th>Name</th>
						      		<th>Surname</th>
						      		<th>Registration Number</th>
						      		<th>Last Event</th>
						      		<th>Actions</th>
						    	</tr>
						  	</thead>
						  	<tbody>
						    	<tr>
							      	<th scope="row">1</th>
							      	<td>Jhon</td>
							      	<td>Stone</td>
							      	<td>@@jhon</td>
							      	<td>@@jhon</td>
							      	<td>
								      	<div class="dropdown dropright">
				                            <button type="button" class="btn btn-hover-info btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				                                <i class="flaticon-more-1"></i>
				                            </button>
				                            <div class="dropdown-menu dropdown-menu-left" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-149px, 33px, 0px);">
				                                <a class="dropdown-item" href="#"><i class="flaticon-profile-1"></i> Details</a>
				                                <a class="dropdown-item" href="#"><i class="flaticon-analytics"></i> Stats</a>
				                                <div class="dropdown-divider"></div>
				                                <a class="dropdown-item kt-font-danger" href="#"><i class="flaticon-delete kt-font-danger"></i> Delete</a>
				                            </div>
			                        	</div>
		                        	</td>
						    	</tr>
						    	<tr>
						      		<th scope="row">2</th>
						      		<td>Lisa</td>
						      		<td>Nilson</td>
						      		<td>@@jhon</td>
						      		<td>@@lisa</td>
						      		<td>@@jhon</td>
						    	</tr>
						    	<tr>
						      		<th scope="row">3</th>
						      		<td>Larry</td>
						      		<td>the Bird</td>
						      		<td>@@jhon</td>
						      		<td>@@twitter</td>
						      		<td>@@jhon</td>
						    	</tr>
						  	</tbody>
						</table>
					</div>
				</div>
				<!--end::Section-->
			</div>
		</div>
	</div>
</div>